/* Effective stylesheet produced by snapshot save */
#slide { position: relative; width: 800px; height: 465px; margin: 0px auto; padding: 0px; z-index: 2; background: none repeat scroll 0% 0% rgb(0, 0, 0); overflow: hidden; }
.slider { width: 800px; height: 465px; margin: 0px auto; position: relative; z-index: 2; overflow: visible ! important; }
.items { display: none; }